

<div class="row">
  <div class="col-12 col-xl-12 stretch-card">
    <div class="row flex-grow-1">
      <div class="col-md-6 col-lg-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex align-items-center overflow-hidden">
              <div style="background-color:#05a34a ; font-size: 2rem" class="btn btn-lg rounded-circle round round-lg  d-flex  align-items-center justify-content-center text-light  ">
                <span>99</span>
              </div>
              <div class="ms-3">
                <h5 class="mb-0 font-weight-bold">Facture payée </h5>
                <p>Total:<span style="color: #05a34a" >23932DH/TTC</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex align-items-center overflow-hidden">
              <div style="background-color:#ff8a00 ; font-size: 2rem" class="btn btn-lg rounded-circle round round-lg  d-flex  align-items-center justify-content-center text-light  ">
                <span>99</span>
              </div>
              <div class="ms-3">
                <h5 class="mb-0 font-weight-bold">Facture en cours ... </h5>
                <p>Total:<span style="color: #ff8a00" >5767567</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex align-items-center overflow-hidden">
              <div style="background-color:#e22828 ; font-size: 2rem" class="btn btn-lg rounded-circle round round-lg  d-flex  align-items-center justify-content-center text-light  ">
                <span>99</span>
              </div>
              <div class="ms-3">
                <h5 class="mb-0 font-weight-bold">Facture Inpayée</h5>
                <p>Total:<span style="color: #e22828" >89989871</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex align-items-center overflow-hidden">
              <div style="background-color:#b60c0c ; font-size: 2rem" class="btn btn-lg rounded-circle round round-lg  d-flex  align-items-center justify-content-center text-light  ">
                <span>99</span>
              </div>
              <div class="ms-3">
                <h5 class="mb-0 font-weight-bold">Fournisseur non payée</h5>
                <p>Total:<span style="color: #b60c0c" >7384930</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>
</div> <!-- row -->
<br>

<div class="row">
  <div class="col-lg-7 col-xl-6 stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-baseline mb-2">
          <h6 class="card-title mb-0"><img src="assets/images/unnamed (16).png" alt="user"  >Les 5 derniéres Facture</h6>
        </div>
        <div class="table-responsive">
          <table class="table table-hover mb-0">
            <thead>
            <tr>
              <th class="pt-0">Client</th>
              <th class="pt-0">Date</th>
              <th class="pt-0">Durée de validité</th>
              <th class="pt-0">montant TTC</th>
              <th class="pt-0">situation</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>NobleUI Angular</td>
              <td>01/01/2022</td>
              <td>15 jours</td>
              <td>Carl Henson</td>
              <td><span class="badge bg-success">valide</span></td>
            </tr>
            <tr>
              <td>NobleUI Angular</td>
              <td>01/01/2022</td>
              <td>15 jours</td>
              <td>Carl Henson</td>
              <td><span class="badge " style="background-color: #ff8a00">En cours</span></td>
            </tr>
            <tr>
              <td>NobleUI Angular</td>
              <td>01/01/2022</td>
              <td>15 jours</td>
              <td>Carl Henson</td>
              <td><span class="badge bg-success">valide</span></td>
            </tr>
            <tr>
              <td>NobleUI Angular</td>
              <td>01/01/2022</td>
              <td>15 jours</td>
              <td>Carl Henson</td>
              <td><span class="badge " style="background-color: #ff8a00">En cours</span></td>
            </tr><tr>
              <td>NobleUI Angular</td>
              <td>01/01/2022</td>
              <td>15 jours</td>
              <td>Carl Henson</td>
              <td><span class="badge bg-success">valide</span></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-7 col-xl-6 stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-baseline mb-2">
          <h6 class="card-title mb-0"><img src="assets/images/unnamed (16).png" alt="user"  >Les 5 derniéres Facture</h6>
        </div>
        <div class="table-responsive">
          <table class="table table-hover mb-0">
            <thead>
            <tr>
              <th class="pt-0">Client</th>
              <th class="pt-0">Date</th>
              <th class="pt-0">Durée de validité</th>
              <th class="pt-0">montant TTC</th>
              <th class="pt-0">situation</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>NobleUI Angular</td>
              <td>01/01/2022</td>
              <td>15 jours</td>
              <td>Carl Henson</td>
              <td><span class="badge bg-success">valide</span></td>
            </tr>
            <tr>
              <td>NobleUI Angular</td>
              <td>01/01/2022</td>
              <td>15 jours</td>
              <td>Carl Henson</td>
              <td><span class="badge " style="background-color: #ff8a00">En cours</span></td>
            </tr>
            <tr>
              <td>NobleUI Angular</td>
              <td>01/01/2022</td>
              <td>15 jours</td>
              <td>Carl Henson</td>
              <td><span class="badge bg-success">valide</span></td>
            </tr>
            <tr>
              <td>NobleUI Angular</td>
              <td>01/01/2022</td>
              <td>15 jours</td>
              <td>Carl Henson</td>
              <td><span class="badge " style="background-color: #ff8a00">En cours</span></td>
            </tr><tr>
              <td>NobleUI Angular</td>
              <td>01/01/2022</td>
              <td>15 jours</td>
              <td>Carl Henson</td>
              <td><span class="badge bg-success">valide</span></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div> <!-- row -->
<br>

<div class="row">
  <div class="col-lg-7 col-xl-4 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-baseline mb-2">
          <h6 class="card-title text-center mb-0">Contact</h6>
        </div>
        <p class="text-muted">Sales are activities related to selling or the number of goods or services sold in a given time period.</p>
      </div>
    </div>
  </div>
  <div class="col-lg-5 col-xl-4 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-baseline mb-2">
          <h6 class="card-title mb-0">Factures Clients</h6>
        </div>
        <apx-chart
          [series]="cloudStorageChartOptions.series"
          [chart]="cloudStorageChartOptions.chart"
          [colors]="cloudStorageChartOptions.colors"
          [plotOptions]="cloudStorageChartOptions.plotOptions"
          [fill]="cloudStorageChartOptions.fill"
          [stroke]="cloudStorageChartOptions.stroke"
          [labels]="cloudStorageChartOptions.labels"
        ></apx-chart>
        <div class="row mb-3">
          <div class="row mb-0 ">
            <div class="justify-content-between">
              <h5 style="text-align: center" >Total TTC: <span style="color: #ff8a00">2000 </span>DH </h5>
            </div>
          </div>
          <br>
          <div class="row mb-0 ">
            <div class="justify-content-between">
              <h5 style="text-align: center" >Total TTC: <span style="color: #05a34a">8000 </span>DH </h5>
            </div>
          </div>
          <br>
          <div class="row mb-0 ">
            <div class="justify-content-between">
              <h5 style="text-align: center" >Total TTC: 10000 DH</h5>
            </div>
          </div>
        </div>
        <div class="d-grid">
          <button class="btn btn-primary">
            <i class="btn-icon-prepend" data-feather="download-cloud" appFeatherIcon></i>
            Exporter format excel </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-5 col-xl-4 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-baseline mb-2">
          <h6 class="card-title mb-0">Factures Fournisseurs</h6>
        </div>
        <apx-chart
          [series]="cloudStorageChartOptions.series"
          [chart]="cloudStorageChartOptions.chart"
          [colors]="cloudStorageChartOptions.colors"
          [plotOptions]="cloudStorageChartOptions.plotOptions"
          [fill]="cloudStorageChartOptions.fill"
          [stroke]="cloudStorageChartOptions.stroke"
          [labels]="cloudStorageChartOptions.labels"
        ></apx-chart>
        <div class="row mb-3">
          <div class="row mb-0 ">
          <div class="justify-content-between">
            <h5 style="text-align: center" >Total TTC: <span style="color: #ff8a00">2000 </span>DH </h5>
          </div>
        </div>
          <br>
          <div class="row mb-0 ">
            <div class="justify-content-between">
              <h5 style="text-align: center" >Total TTC: <span style="color: #05a34a">8000 </span>DH </h5>
            </div>
          </div>
          <br>
          <div class="row mb-0 ">
            <div class="justify-content-between">
              <h5 style="text-align: center" >Total TTC: 10000 DH</h5>
            </div>
          </div>
        </div>
        <div class="d-grid">
          <button class="btn btn-primary">
            <i class="btn-icon-prepend" data-feather="download-cloud" appFeatherIcon></i>
            Exporter format excel </button>
        </div>
      </div>
    </div>
  </div>
</div> <!-- row -->




