<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Nouveau Devis</h6>
        <form (ngSubmit)="cree()" #form="ngForm" novalidate>
          <div class="row">
            <div class="col-sm-4">
              <div class="mb-3">
                <label class="form-label">Client</label>
                <ng-select [items]="client"
                           bindLabel="nomClient"
                           [searchable]="true"
                           [(ngModel)]="selectedPersonId"
                           name="people" required>
                </ng-select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="mb-3">
                <label class="form-label">Durée de validite</label>
                <input type="text" name="duree" [(ngModel)]="dureedevalidite" class="form-control" >
              </div>
            </div><!-- Col -->
            <div class="col-sm-4">
              <div class="mb-3">
                <label class="form-label">Date</label>
                <div class="input-group wd-200 me-3 mb-3 mb-md-0">
                  <button class="btn btn-outline-primary btn-icon calendar" type="button" (click)="d.toggle()">
                    <i data-feather="calendar" appFeatherIcon></i>
                  </button>
                  <input class="form-control border-primary bg-transparent" placeholder="yyyy-mm-dd"
                         name="dp" [(ngModel)]="currentDate" ngbDatepicker #d="ngbDatepicker">
                </div>
              </div>
            </div><!-- Col -->
          </div><!-- Row -->
          <div class="row">
            <div class="col-sm-4">
              <div class="mb-3">
                <label class="form-label">Conditions de réglement</label>
                <input type="text" class="form-control" name="conditions" [(ngModel)]="Conditions" >
              </div>
            </div><!-- Col -->
            <div class="col-sm-4">
              <div class="mb-3">
                <label class="form-label">Moyens paiment</label>
                <ng-select [items]="Underpayment"
                           [searchable]="false"
                           [(ngModel)]="UnderpaymentSelected"
                            name="payment">
                </ng-select>
                <p class="mt-2 text-muted">Selected item: <span class="fw-bolder">{{UnderpaymentSelected}}</span></p>
              </div>
            </div><!-- Col -->
          </div><!-- Row -->
          <div class="row">
            <div class="col-sm-6">
              <div class="mb-3">
                <label class="form-label">Délai de livraison après commande(jour)</label>
                <input type="number" class="form-control" name="delai" min="1" max="60" [(ngModel)]="delai" required>
              </div>
            </div><!-- Col -->
            <div class="col-sm-6">
              <div class="mb-3">
                <label class="form-label">Méthode d'expèdition</label>
                <input type="text" class="form-control" name="methode" [(ngModel)]="methode"  >
              </div>
            </div><!-- Col -->
          </div><!-- Row -->
          <br>
          <div class="row d-flex ">
            <div class="col-6 d-flex justify-content-end">
              <button class="btn btn-primary" type="submit" [disabled]="!form.valid" >Créer</button>
            </div>
            <div class="col-6  ">
              <a class="btn btn-outline-danger" routerLink="/devis/Liste-Devis" (click)="true" role="button">Anuler</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

