<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Nouveau Client/Fournisseur</h6>
        <form (ngSubmit)="cree()"  #forme="ngForm" novalidate>
          <div class="row">
            <div class="col-sm-12">
              <div class="mb-3">
                <label class="form-label">Nom de la societe</label>
                <input type="text" class="form-control"  name="nomsociete" [(ngModel)]="nomsociete" required>
                <span *ngIf="forme.controls.nomsociete?.errors?.required && forme.controls.nomsociete.touched" class="text-danger">Nom de la société est obligatoire</span>
              </div>
            </div>
          </div><!-- Row -->
          <div class="row">
            <div class="col-sm-3">
              <div class="mb-3">
                <label class="form-label">Client/Fournisseur</label>
                <ng-select [items]="simpleItems"
                           [searchable]="false"
                           [(ngModel)]="type"
                            name="type"
                           required>
                </ng-select>
              </div>
            </div>
          </div><!-- Row -->
          <div class="row">
            <div class="col-sm-12">
              <div class="mb-3">
                <label class="form-label">Adresse</label>
                <input type="text" class="form-control" name="adresse" [(ngModel)]="adress" >
              </div>
            </div>
          </div><!-- Row -->
          <div class="row">
            <div class="col-sm-4">
              <div class="mb-3">
                <label class="form-label">Code postal</label>
                <input type="text" class="form-control" name="codepostal" [(ngModel)]="codepostal" >
              </div>
            </div><!-- Col -->
            <div class="col-sm-4">
              <div class="mb-3">
                <label class="form-label">Ville</label>
                <input type="text" class="form-control" name="ville" [(ngModel)]="ville">
                <P>{{ville}}</P>
              </div>
            </div><!-- Col -->
            <div class="col-sm-4">
              <div class="mb-3">
                <label class="form-label">Pays</label>
                <select [(ngModel)]="selectedCountry" name="pays" class="form-control">
                  <option *ngFor="let country of countries" [value]="country.name">{{country.name}}</option>
                </select>
              </div>
            </div><!-- Col -->
          </div><!-- Row -->
          <div class="row">
            <div class="col-sm-4">
              <div class="mb-3">
                <label class="form-label">Téléphone</label>
                <input type="text" class="form-control" name="tele" [(ngModel)]="tele" >
              </div>
            </div><!-- Col -->
            <div class="col-sm-4">
              <div class="mb-3">
                <label class="form-label">Gsm</label>
                <input type="text" class="form-control" name="gsm" [(ngModel)]="gsm" >
              </div>
            </div><!-- Col -->
          </div><!-- Row -->
          <div class="row">
            <div class="col-sm-4">
              <div class="mb-3">
                <label class="form-label">E-mail</label>
                <input type="email" class="form-control" name="email" [(ngModel)]="email">
              </div>
            </div><!-- Col -->
            <div class="col-sm-4">
              <div class="mb-3">
                <label class="form-label">Site Web</label>
                <input type="text" class="form-control" name="site" [(ngModel)]="site" >
              </div>
            </div><!-- Col -->
          </div><!-- Row -->
          <div class="row">
            <div class="col-sm-4">
              <div class="mb-3">
                <label class="form-label">Patente</label>
                <input type="text" class="form-control" name="idPatente" [(ngModel)]="idPatente" >
              </div>
            </div><!-- Col -->
            <div class="col-sm-4">
              <div class="mb-3">
                <label class="form-label">Registre de commerce(R.C)</label>
                <input type="text" class="form-control" name="rc" [(ngModel)]="rc" >
              </div>
            </div><!-- Col -->
            <div class="col-sm-4">
              <div class="mb-3">
                <label class="form-label">Identifiant fiscal</label>
                <input type="text" class="form-control" name="idf" [(ngModel)]="idf" >
              </div>
            </div><!-- Col -->
          </div><!-- Row -->
          <div class="row">
            <div class="col-sm-6">
              <div class="mb-3">
                <label class="form-label">CNSSa</label>
                <input type="text" class="form-control" name="cnss" [(ngModel)]="cnss">
              </div>
            </div><!-- Col -->
            <div class="col-sm-6">
              <div class="mb-3">
                <label class="form-label">Identifiant Commun d'Entreprise</label>
                <input  class="form-control" autocomplete="off" name="ice" [(ngModel)]="ice" >
              </div>
            </div><!-- Col -->
            <br>
          </div><!-- Row -->
          <div class="row d-flex ">
            <div class="col-6 d-flex justify-content-end">
              <button type="submit" class="btn btn-primary"  [disabled]="!forme.valid">valid</button>
            </div>
            <div class="col-6  ">
              <a class="btn btn-outline-danger" routerLink="/client/List-client" (click)="true" role="button">Anuler</a>
            </div>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>

